<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bugs Included</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- #TODO: Add environments here, so prod would load scripts from CDN not the webserver-->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-0 box-shadow shadow py-4">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="AssetPreview">BUGS INCLUDED</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AssetPreview">ASSETS</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">ABOUT US</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Blog">BLOG</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container pt-5">
        <main role="main" class="mb-5">
            <h1 class="text-left display-2 mb-5 text-white">@ViewData["Title"]</h1>

            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <p class="my-0 py-0">&copy;@DateTime.Now.Year - BugsIncluded <a class="ml-3" href="mailto:contact@bugsincluded.dev" target="_top">contact@bugsincluded.dev</a></p>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/@@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
