@{
    ViewData["Title"] = "Featured Sprites";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row row-cols-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Enchanted Forest</h3>
            </div>
            <img src="~/images/bg1.png" class="card-img-bottom" alt="Enchanted Forest Preview" />
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Red Moon</h3>
            </div>
            <img src="~/images/bg2.png" class="card-img-bottom" alt="Enchanted Forest Preview" />
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Flower Town</h3>
            </div>
            <img src="~/images/Flower1.png" class="card-img-bottom" alt="Enchanted Forest Preview" />
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Rock Cave</h3>
            </div>
            <img src="~/images/Artboard 68.png" class="card-img-bottom" alt="Enchanted Forest Preview" />
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Water</h3>
            </div>
            <img src="~/images/Artboard 57.png" class="card-img-bottom" alt="Enchanted Forest Preview" />
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Landing Pad</h3>
            </div>
            <img src="~/images/Artboard 73.png" class="card-img-bottom" alt="Enchanted Forest Preview" />
        </div>

    </div>
</div>

