@model CardHolderViewModel

@{
    ViewData["Title"] = "BLOG";
}

<div class="card-deck">
    @foreach (var card in Model.CardViewModels)
    {
        <div class="card text-white bg-info" style="max-width: 18rem;">
            <div class="card-header">@card.LastUpdated.Date.ToLongDateString()</div>
            <div class="card-body text-center">
                <h5>@card.Title</h5>
                <p class="card-text">Summary of the card goes here</p>
              </div>
        </div>
    }
</div>
